.navbar[data-v-0e71c01a] {
    position: fixed;
    top: 0px;
    z-index: 50;
    height: 6rem;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .3s
}

.navb[data-v-0e71c01a] {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem
}

@media (min-width: 640px) {
    .navb[data-v-0e71c01a] {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .navb[data-v-0e71c01a] {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .navb[data-v-0e71c01a] {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .navb[data-v-0e71c01a] {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .navb[data-v-0e71c01a] {
        max-width: 1536px
    }
}

.navb[data-v-0e71c01a] {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 6rem;
    width: 100%;
    max-width: 80rem;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.nav-brand[data-v-0e71c01a] {
    width: 8rem
}

.nav-divider[data-v-0e71c01a] {
    height: 2px;
    display: none;
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity))
}

@media (min-width: 768px) {
    .nav-divider[data-v-0e71c01a] {
        display: block
    }
}

.nav-divider[data-v-0e71c01a] {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

.nav-menu[data-v-0e71c01a] {
    position: absolute;
    right: 4rem;
    display: none;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-family: Poppins;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .2s
}

@media (min-width: 768px) {
    .nav-menu[data-v-0e71c01a] {
        display: flex
    }
}

.anim-nav-open[data-v-0e71c01a] {
    -webkit-animation-name: open-nav;
    animation-name: open-nav;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.anim-nav-close[data-v-0e71c01a] {
    -webkit-animation-name: close-nav;
    animation-name: close-nav
}

.anim-nav-menu-open[data-v-0e71c01a] {
    transition-delay: .3s;
    transform: translateY(0);
    opacity: 1
}

.anim-nav-menu-close[data-v-0e71c01a] {
    transform: translateY(2rem);
    cursor: default;
    opacity: 0
}

.nav-item[data-v-0e71c01a] {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.nav-item[data-v-0e71c01a]:after {
    height: 2px;
    content: "";
    transition: all .3s ease-out;
    position: absolute;
    top: 2rem;
    display: block;
    width: 0px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity))
}

.nav-selected[data-v-0e71c01a]:after,
.nav-item[data-v-0e71c01a]:hover:after {
    width: 1rem
}

.nav-mobile[data-v-0e71c01a] {
    width: 100%
}

@media (min-width: 768px) {
    .nav-mobile[data-v-0e71c01a] {
        display: none
    }
}

.nav-mobile-menu[data-v-0e71c01a] {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity))
}

.nav-mobile-menu .nav-mobile-item[data-v-0e71c01a] {
    width: 100%;
    cursor: pointer;
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity));
    padding: .75rem;
    font-size: 1.125rem;
    line-height: 1.75rem
}

.nav-caret[data-v-0e71c01a] {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    justify-content: center;
    padding: .5rem
}

.caret[data-v-0e71c01a] {
    height: 3px;
    position: relative
}

.caret[data-v-0e71c01a]:before,
.caret[data-v-0e71c01a]:after {
    content: "";
    height: 3px;
    max-height: 3px;
    position: absolute
}

.caret[data-v-0e71c01a]:before {
    bottom: -1.5rem
}

.caret[data-v-0e71c01a]:after {
    bottom: -.75rem
}

.active.caret[data-v-0e71c01a]:before {
    transform: translateY(-1.5rem) rotate(90deg)
}

.active.caret[data-v-0e71c01a]:after {
    opacity: 0
}

.active.caret[data-v-0e71c01a] {
    transform: rotate(-45deg) translate(-.6rem, .8rem)
}

.caret[data-v-0e71c01a],
.caret[data-v-0e71c01a]:before,
.caret[data-v-0e71c01a]:after {
    content: "";
    display: block;
    width: 100%;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .2s
}

.footer[data-v-7c9795d3] {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity));
    padding-bottom: 4rem;
    font-family: Kanit
}

@media (min-width: 768px) {
    .footer[data-v-7c9795d3] {
        flex-direction: row;
        padding: 3rem
    }
}

.footer-brand[data-v-7c9795d3] {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-style: italic
}

@media (min-width: 768px) {
    .footer-brand[data-v-7c9795d3] {
        width: 100%;
        flex-direction: row;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.footer-brand p[data-v-7c9795d3] {
    line-height: 1.5!important
}

.footer-logo[data-v-7c9795d3] {
    width: 33.333333%;
    -o-object-fit: contain;
    object-fit: contain
}

.footer-nav[data-v-7c9795d3] {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem
}

@media (min-width: 768px) {
    .footer-nav[data-v-7c9795d3] {
        flex-direction: row
    }
}

.footer-title[data-v-7c9795d3] {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500
}

.footer-menu[data-v-7c9795d3] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem
}

.footer-copyright[data-v-7c9795d3] {
    bottom: 4rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500
}

@media (min-width: 768px) {
    .footer-copyright[data-v-7c9795d3] {
        position: absolute;
        flex-direction: row;
        font-size: 1.125rem;
        line-height: 1.75rem
    }
}

.footer-icon[data-v-7c9795d3] {
    height: 2rem;
    width: 2rem
}

@media (min-width: 768px) {
    .footer-icon[data-v-7c9795d3] {
        height: 2.5rem;
        width: 2.5rem
    }
}

@-webkit-keyframes open-nav {
    0% {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes open-nav {
    0% {
        width: 0
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes close-nav {
    0% {
        width: 100%
    }
    to {
        width: 0
    }
}

@keyframes close-nav {
    0% {
        width: 100%
    }
    to {
        width: 0
    }
}

html,
body {
    font-size: 14px;
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    letter-spacing: .05em;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

@media screen and (max-width: 540px) {
    html,
    body {
        font-size: 12px
    }
}

.poppins {
    font-family: Poppins, sans-serif
}

.q-container {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem
}

@media (min-width: 640px) {
    .q-container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .q-container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .q-container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .q-container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .q-container {
        max-width: 1536px
    }
}

.q-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 80rem
}

.container {
    max-width: 80rem
}

.btn {
    margin-top: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgba(170, 188, 198, var(--tw-bg-opacity))
}

.btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(192, 204, 210, var(--tw-bg-opacity))
}

.btn {
    padding: 1rem 2rem;
    font-family: Kanit;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .3s
}

.btn-sn {
    margin-top: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity))
}

.btn-sn:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 204, 199, var(--tw-bg-opacity))
}

.btn-sn {
    padding: 1rem 2rem;
    font-family: Kanit;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .3s
}

.bg-blog {
    min-height: 100vh;
    background-image: url(/assets/blog-bg.468d32b3.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}


/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com */


/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
:before,
:after {
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

button,
[type=button] {
    -webkit-appearance: button
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

fieldset {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

pre,
code,
kbd,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.container {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.top-0 {
    top: 0px
}

.top-6 {
    top: 1.5rem
}

.top-16 {
    top: 4rem
}

.top-24 {
    top: 6rem
}

.top-full {
    top: 100%
}

.right-0 {
    right: 0px
}

.right-6 {
    right: 1.5rem
}

.right-8 {
    right: 2rem
}

.right-16 {
    right: 4rem
}

.bottom-0 {
    bottom: 0px
}

.bottom-6 {
    bottom: 1.5rem
}

.bottom-16 {
    bottom: 4rem
}

.-bottom-8 {
    bottom: -2rem
}

.-bottom-24 {
    bottom: -6rem
}

.left-0 {
    left: 0px
}

.z-10 {
    z-index: 10
}

.z-30 {
    z-index: 30
}

.z-50 {
    z-index: 50
}

.m-8 {
    margin: 2rem
}

.mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mt-2 {
    margin-top: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-16 {
    margin-top: 4rem
}

.mt-24 {
    margin-top: 6rem
}

.mt-40 {
    margin-top: 10rem
}

.-mt-4 {
    margin-top: -1rem
}

.mr-auto {
    margin-right: auto
}

.mb-0 {
    margin-bottom: 0
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-20 {
    margin-bottom: 5rem
}

.mb-40 {
    margin-bottom: 10rem
}

.ml-12 {
    margin-left: 3rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.table {
    display: table
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-1 {
    height: .25rem
}

.h-6 {
    height: 1.5rem
}

.h-8 {
    height: 2rem
}

.h-12 {
    height: 3rem
}

.h-16 {
    height: 4rem
}

.h-24 {
    height: 6rem
}

.h-40 {
    height: 10rem
}

.h-48 {
    height: 12rem
}

.h-64 {
    height: 16rem
}

.h-72 {
    height: 18rem
}

.h-80 {
    height: 20rem
}

.h-96 {
    height: 24rem
}

.h-3\/5 {
    height: 60%
}

.h-full {
    height: 100%
}

.min-h-full {
    min-height: 100%
}

.min-h-screen {
    min-height: 100vh
}

.w-0 {
    width: 0px
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-12 {
    width: 3rem
}

.w-16 {
    width: 4rem
}

.w-20 {
    width: 5rem
}

.w-64 {
    width: 16rem
}

.w-72 {
    width: 18rem
}

.w-1\/3 {
    width: 33.333333%
}

.w-3\/4 {
    width: 75%
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.max-w-lg {
    max-width: 32rem
}

.max-w-2xl {
    max-width: 42rem
}

.max-w-3xl {
    max-width: 48rem
}

.max-w-4xl {
    max-width: 56rem
}

.max-w-7xl {
    max-width: 80rem
}

.max-w-full {
    max-width: 100%
}

.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1
}

.scale-150 {
    --tw-scale-x: 1.5;
    --tw-scale-y: 1.5
}

@-webkit-keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

@keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-0 {
    gap: 0px
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-8 {
    gap: 2rem
}

.gap-10 {
    gap: 2.5rem
}

.gap-16 {
    gap: 4rem
}

.overflow-hidden {
    overflow: hidden
}

.overflow-y-visible {
    overflow-y: visible
}

.whitespace-pre-wrap {
    white-space: pre-wrap
}

.rounded-full {
    border-radius: 9999px
}

.bg-primary-0 {
    --tw-bg-opacity: 1;
    background-color: rgba(32, 39, 53, var(--tw-bg-opacity))
}

.bg-primary-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity))
}

.bg-primary-2 {
    --tw-bg-opacity: 1;
    background-color: rgba(170, 188, 198, var(--tw-bg-opacity))
}

.bg-primary-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(192, 204, 210, var(--tw-bg-opacity))
}

.bg-secondary-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(122, 89, 74, var(--tw-bg-opacity))
}

.bg-secondary-2 {
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity))
}

.bg-secondary-3 {
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity))
}

.bg-white-1 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.hover\:bg-primary-3:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(192, 204, 210, var(--tw-bg-opacity))
}

.hover\:bg-secondary-2:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity))
}

.stroke-current {
    stroke: currentColor
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem
}

.pt-0 {
    padding-top: 0
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-12 {
    padding-top: 3rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-32 {
    padding-bottom: 8rem
}

.pl-6 {
    padding-left: 1.5rem
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.font-berkshire {
    font-family: Berkshire Swash, cursive
}

.font-kanit {
    font-family: Kanit
}

.font-poppins {
    font-family: Poppins
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sn {
    font-size: 2.2rem;
    line-height: 2.2rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1
}

.font-extralight {
    font-weight: 200
}

.font-normal {
    font-weight: 400
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.leading-8 {
    line-height: 2rem
}

.leading-9 {
    line-height: 2.25rem
}

.leading-display {
    line-height: 1.4
}

.tracking-normal {
    letter-spacing: 0em
}

.tracking-wider {
    letter-spacing: .05em
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.text-primary-1 {
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

.text-secondary-2 {
    --tw-text-opacity: 1;
    color: rgba(181, 171, 159, var(--tw-text-opacity))
}

.text-white-1 {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

*,
:before,
:after {
    --tw-shadow: 0 0 #0000
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

*,
:before,
:after {
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}

.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

@media (min-width: 640px) {
    .sm\:flex {
        display: flex
    }
}

@media (min-width: 768px) {
    .md\:absolute {
        position: absolute
    }
    .md\:top-14 {
        top: 3.5rem
    }
    .md\:-top-10 {
        top: -2.5rem
    }
    .md\:-right-52 {
        right: -13rem
    }
    .md\:-right-72 {
        right: -18rem
    }
    .md\:-bottom-40 {
        bottom: -10rem
    }
    .md\:-left-96 {
        left: -24rem
    }
    .md\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }
    .md\:mt-24 {
        margin-top: 6rem
    }
    .md\:mb-10 {
        margin-bottom: 2.5rem
    }
    .md\:mb-40 {
        margin-bottom: 10rem
    }
    .md\:mb-72 {
        margin-bottom: 18rem
    }
    .md\:ml-24 {
        margin-left: 6rem
    }
    .md\:ml-64 {
        margin-left: 16rem
    }
    .md\:block {
        display: block
    }
    .md\:flex {
        display: flex
    }
    .md\:hidden {
        display: none
    }
    .md\:h-10 {
        height: 2.5rem
    }
    .md\:h-72 {
        height: 18rem
    }
    .md\:h-80 {
        height: 20rem
    }
    .md\:h-96 {
        height: 24rem
    }
    .md\:h-auto {
        height: auto
    }
    .md\:w-10 {
        width: 2.5rem
    }
    .md\:w-96 {
        width: 24rem
    }
    .md\:w-auto {
        width: auto
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:w-1\/3 {
        width: 33.333333%
    }
    .md\:w-2\/3 {
        width: 66.666667%
    }
    .md\:w-full {
        width: 100%
    }
    .md\:max-w-3xl {
        max-width: 48rem
    }
    .md\:max-w-max {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content
    }
    .md\:flex-row {
        flex-direction: row
    }
    .md\:justify-center {
        justify-content: center
    }
    .md\:gap-4 {
        gap: 1rem
    }
    .md\:gap-6 {
        gap: 1.5rem
    }
    .md\:gap-8 {
        gap: 2rem
    }
    .md\:whitespace-nowrap {
        white-space: nowrap
    }
    .md\:p-4 {
        padding: 1rem
    }
    .md\:p-6 {
        padding: 1.5rem
    }
    .md\:p-12 {
        padding: 3rem
    }
    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .md\:py-0 {
        padding-top: 0;
        padding-bottom: 0
    }
    .md\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .md\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
    .md\:py-32 {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .md\:pt-24 {
        padding-top: 6rem
    }
    .md\:pt-96 {
        padding-top: 24rem
    }
    .md\:pr-12 {
        padding-right: 3rem
    }
    .md\:pb-0 {
        padding-bottom: 0
    }
    .md\:pb-64 {
        padding-bottom: 16rem
    }
    .md\:pl-24 {
        padding-left: 6rem
    }
    .md\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    .md\:text-sn {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
    .md\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
    .md\:text-8xl {
        font-size: 6rem;
        line-height: 1
    }
}

@media (min-width: 1024px) {
    .lg\:ml-96 {
        margin-left: 24rem
    }
    .lg\:block {
        display: block
    }
    .lg\:w-1\/3 {
        width: 33.333333%
    }
    .lg\:w-2\/3 {
        width: 66.666667%
    }
    .lg\:flex-row {
        flex-direction: row
    }
    .lg\:pt-0 {
        padding-top: 0
    }
    .lg\:pr-3 {
        padding-right: .75rem
    }
    .lg\:pl-3 {
        padding-left: .75rem
    }
}

span.n[data-v-2c2bd422] {
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity))
}

.text-brand[data-v-2c2bd422] {
    font-family: Berkshire Swash, cursive;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 200;
    line-height: 1.4
}

@media (min-width: 640px) {
    .text-brand[data-v-2c2bd422] {
        max-width: 48rem
    }
}

.text-sub-brand[data-v-2c2bd422] {
    font-family: Kanit;
    font-size: 1.5rem;
    line-height: 2rem
}

.brand-y[data-v-2c2bd422] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem
}

.q-row[data-v-2c2bd422] {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem
}

.q-col[data-v-2c2bd422] {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem
}

@media (min-width: 640px) {
    .q-col[data-v-2c2bd422] {
        display: flex
    }
}

.right-brand[data-v-2c2bd422] {
    text-align: right;
    font-family: Poppins;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600
}

.right-brand>a[data-v-2c2bd422] {
    width: 100%;
    text-align: right
}

.product-nav[data-v-2c2bd422] {
    font-family: Kanit;
    font-size: 1.875rem;
    line-height: 2.25rem
}

.section-title[data-v-18e7f9c7] {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    gap: .5rem
}

.section-title>span[data-v-18e7f9c7] {
    height: 2px;
    display: block;
    width: 5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity))
}

.section-title>span.is-primary[data-v-18e7f9c7] {
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity))
}

.section-title>p[data-v-18e7f9c7] {
    font-family: Berkshire Swash, cursive;
    font-size: 3.75rem;
    line-height: 1
}

@media (min-width: 768px) {
    .section-title>p[data-v-18e7f9c7] {
        font-size: 6rem;
        line-height: 1
    }
}

.section-title>.is-big[data-v-18e7f9c7] {
    font-size: 3.75rem;
    line-height: 1
}

@media (min-width: 768px) {
    .section-title>.is-big[data-v-18e7f9c7] {
        font-size: 8rem;
        line-height: 1
    }
}

.section-title>p.is-small[data-v-18e7f9c7] {
    font-size: 4.5rem;
    line-height: 1
}

.product-title[data-v-142cad0b] {
    display: none;
    padding: 2rem;
    font-family: Berkshire Swash, cursive;
    font-size: 3rem;
    line-height: 1;
    font-weight: 500
}

@media (min-width: 768px) {
    .product-title[data-v-142cad0b] {
        display: block
    }
}

.product-sm-title[data-v-142cad0b] {
    display: block;
    padding-bottom: 2rem;
    font-family: Berkshire Swash, cursive;
    font-size: 3rem;
    line-height: 1;
    font-weight: 500
}

@media (min-width: 768px) {
    .product-sm-title[data-v-142cad0b] {
        display: none
    }
}

.product-description[data-v-142cad0b] {
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity));
    padding: 2rem;
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .product-description[data-v-142cad0b] {
        max-width: 48rem;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.product-image[data-v-142cad0b] {
    height: 44rem;
    width: 44rem;
    margin-left: auto;
    -o-object-fit: cover;
    object-fit: cover
}

.product-container[data-v-142cad0b] {
    position: relative;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center
}

@media (min-width: 768px) {
    .product-container[data-v-142cad0b] {
        flex-direction: row
    }
}

.product-subcontainer[data-v-142cad0b] {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

@media (min-width: 768px) {
    .product-subcontainer[data-v-142cad0b] {
        position: absolute
    }
}

.bg-img-rose[data-v-142cad0b] {
    background-image: url(/assets/img-rose.fb1a4c20.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat
}

.btn[data-v-142cad0b] {
    display: none
}

@media (min-width: 768px) {
    .btn[data-v-142cad0b] {
        display: block
    }
}

.btn-sm[data-v-142cad0b] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 2rem;
    display: block;
    --tw-bg-opacity: 1;
    background-color: rgba(170, 188, 198, var(--tw-bg-opacity))
}

.btn-sm[data-v-142cad0b]:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(192, 204, 210, var(--tw-bg-opacity))
}

.btn-sm[data-v-142cad0b] {
    padding: 1rem 2rem;
    font-family: Kanit;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .3s
}

@media (min-width: 768px) {
    .btn-sm[data-v-142cad0b] {
        display: none
    }
}

@media screen and (max-width: 772px) {
    .product-image[data-v-142cad0b] {
        height: 16rem;
        width: 100%
    }
}

.about-image[data-v-83c74e1e] {
    height: 80%;
    width: 60rem;
    -o-object-fit: cover;
    object-fit: cover
}

.about-container[data-v-83c74e1e] {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
}

@media (min-width: 768px) {
    .about-container[data-v-83c74e1e] {
        flex-direction: row;
        gap: 2rem
    }
}

.about-sub-container[data-v-83c74e1e] {
    position: relative
}

.about-brand[data-v-83c74e1e] {
    display: none;
    height: 100%
}

@media (min-width: 1024px) {
    .about-brand[data-v-83c74e1e] {
        display: block
    }
}

.bb[data-v-83c74e1e] {
    top: -22rem;
    position: absolute
}

.about-description[data-v-83c74e1e] {
    position: relative;
    z-index: 10;
    --tw-bg-opacity: 1;
    background-color: rgba(181, 171, 159, var(--tw-bg-opacity));
    padding: 2rem;
    font-family: Kanit;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: .05em;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .about-description[data-v-83c74e1e] {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

.about-description-shadow[data-v-83c74e1e] {
    right: calc(-100% + 12rem);
    position: absolute;
    bottom: -2rem;
    display: none;
    height: 60%;
    width: 75%;
    --tw-bg-opacity: 1;
    background-color: rgba(192, 204, 210, var(--tw-bg-opacity))
}

@media (min-width: 768px) {
    .about-description-shadow[data-v-83c74e1e] {
        display: block
    }
}

.about-box[data-v-83c74e1e] {
    position: relative
}

@media (min-width: 768px) {
    .about-box[data-v-83c74e1e] {
        max-width: 42rem
    }
}

.about-svg[data-v-83c74e1e] {
    position: absolute;
    right: 2rem;
    bottom: -6rem;
    z-index: 30;
    display: none;
    height: 12rem;
    width: 18rem
}

@media (min-width: 768px) {
    .about-svg[data-v-83c74e1e] {
        display: block
    }
}

.about-bg[data-v-83c74e1e] {
    background-image: url(/assets/about-bg.d4a4a7a2.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat
}

.why-container[data-v-28a336b6] {
    top: 0px;
    display: flex;
    width: 100vw;
    max-width: 100%;
    gap: 1rem;
    overflow: visible
}

@media (min-width: 768px) {
    .why-container[data-v-28a336b6] {
        position: absolute;
        left: -24rem
    }
}

.card-col[data-v-28a336b6] {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem
}

@media (min-width: 768px) {
    .card-col[data-v-28a336b6] {
        width: 50%
    }
}

.card-col.f2[data-v-28a336b6] {
    flex-direction: column-reverse
}

.card[data-v-28a336b6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem 1rem
}

.item[data-v-28a336b6] {
    text-align: center;
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: .05em;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .item[data-v-28a336b6] {
        font-size: 1.25rem;
        line-height: 1.75rem;
        line-height: 2.25rem
    }
}

.q-container[data-v-28a336b6] {
    margin-bottom: 0
}

@media (min-width: 768px) {
    .q-container[data-v-28a336b6] {
        margin-bottom: 2.5rem
    }
}

.main-blog-card[data-v-0cb9e712] {
    position: relative;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity));
    padding: 1.5rem;
    font-family: Kanit;
    letter-spacing: 0em
}

@media (min-width: 768px) {
    .main-blog-card[data-v-0cb9e712] {
        margin-left: 0;
        margin-right: 0;
        width: 33.333333%;
        padding: 1rem;
        padding: 1.5rem
    }
}

.blog-card-details[data-v-0cb9e712] {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media (min-width: 768px) {
    .blog-card-details[data-v-0cb9e712] {
        padding-top: 0;
        padding-bottom: 0
    }
}

.blog-card-title[data-v-0cb9e712] {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

.blog-card-description[data-v-0cb9e712] {
    margin-bottom: 6rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .blog-card-description[data-v-0cb9e712] {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

.blog-card-date[data-v-0cb9e712] {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-family: Kanit;
    font-weight: 700
}

.f-row[data-v-0cb9e712] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

@media (min-width: 768px) {
    .f-row[data-v-0cb9e712] {
        flex-direction: row
    }
}

.q-container-fluid[data-v-0cb9e712] {
    width: 100%;
    max-width: 1536px;
    overflow: hidden
}

.blog-card-image[data-v-0cb9e712] {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (min-width: 768px) {
    .blog-card-image[data-v-0cb9e712] {
        height: 18rem
    }
}

.btn[data-v-0cb9e712] {
    margin-top: 0;
    margin-right: auto
}

.p-container[data-v-15cb4c32] {
    position: relative;
    height: 24rem;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity));
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: center;
    font-family: Kanit
}

.location-title[data-v-15cb4c32] {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem
}

.location-subtitle[data-v-15cb4c32] {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.shop-title[data-v-15cb4c32] {
    margin-bottom: 0.4rem;
    font-size: 3rem;
    line-height: 3rem
}

.shop-subtitle[data-v-15cb4c32] {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    line-height: 1.75rem
}

.f-container[data-v-a6caba98] {
    position: relative;
    width: 100%
}

@media (min-width: 768px) {
    .f-container[data-v-a6caba98] {
        min-height: 100vh
    }
}

.contact-container[data-v-a6caba98] {
    max-width: 32rem;
    text-align: justify;
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .contact-container[data-v-a6caba98] {
        margin-left: 6rem;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.contact-items[data-v-a6caba98] {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
    font-size: 1.125rem;
    line-height: 1.75rem
}

@media (min-width: 768px) {
    .contact-items[data-v-a6caba98] {
        margin-top: 2rem;
        gap: 2rem;
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

.contact-item[data-v-a6caba98] {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.contact-icon[data-v-a6caba98] {
    height: 2rem;
    width: 2rem
}

@media (min-width: 768px) {
    .contact-icon[data-v-a6caba98] {
        height: 2.5rem;
        width: 2.5rem
    }
}

.contact-container>p[data-v-a6caba98] {
    line-height: 1.8!important;
    letter-spacing: 0em
}

.work-container[data-v-a6caba98] {
    position: relative;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity));
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem
}

@media (min-width: 768px) {
    .work-container[data-v-a6caba98] {
        top: 3.5rem;
        margin-left: 16rem;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

@media (min-width: 1024px) {
    .work-container[data-v-a6caba98] {
        margin-left: 24rem
    }
}

.ld[data-v-a6caba98] {
    margin-bottom: 3rem
}

.btn[data-v-a6caba98] {
    cursor: pointer
}

.p-container[data-v-62246d49] {
    height: 50rem;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity))
}

@media (min-width: 768px) {
    .p-container[data-v-62246d49] {
        margin-bottom: 8rem
    }
}

@media screen and (max-width: 768px) {
    .p-container[data-v-62246d49] {
        height: 20rem
    }
}

.gallery-container[data-v-62246d49] {
    width: 150%;
    left: -25%;
    position: absolute;
    top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.gallery-image[data-v-62246d49] {
    min-width: 33.3%;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .2s
}

@media screen and (max-width: 540px) {
    .gallery-container[data-v-62246d49] {
        width: 200%;
        left: -50%
    }
}

.px-3p[data-v-62246d49] {
    padding-left: 12%;
    padding-right: 12%
}

.pt-3p[data-v-62246d49] {
    height: 0!important;
    padding-top: 56.25%
}

.icon[data-v-62246d49] {
    height: calc(10% + 5vh);
    position: absolute;
    bottom: 3rem;
    width: 100%
}

.pagination[data-v-06279b6d] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: flex;
    max-width: 42rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.pagination-items[data-v-06279b6d] {
    display: flex;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: Kanit;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

.divider[data-v-06279b6d] {
    height: .25rem;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity))
}

.arrow-paginate[data-v-06279b6d] {
    height: 1.5rem;
    width: 1.5rem;
    stroke: currentColor;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

.arrow-paginate.active[data-v-06279b6d] {
    --tw-text-opacity: 1;
    color: rgba(181, 171, 159, var(--tw-text-opacity))
}

.arrow-paginate[data-v-06279b6d]:not(.active) {
    cursor: pointer
}

.pagination-items a[data-v-06279b6d]:not(.active):not(.disabled) {
    cursor: pointer
}

.pagination-items a.active[data-v-06279b6d] {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(181, 171, 159, var(--tw-text-opacity))
}

.pagination-items a.disabled[data-v-06279b6d] {
    --tw-text-opacity: 1;
    color: rgba(181, 171, 159, var(--tw-text-opacity))
}

.q-container[data-v-0cefc9c2] {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem
}

@media (min-width: 640px) {
    .q-container[data-v-0cefc9c2] {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .q-container[data-v-0cefc9c2] {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .q-container[data-v-0cefc9c2] {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .q-container[data-v-0cefc9c2] {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .q-container[data-v-0cefc9c2] {
        max-width: 1536px
    }
}

.q-container[data-v-0cefc9c2] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: .75rem;
    padding-right: .75rem
}

@media (min-width: 768px) {
    .q-container[data-v-0cefc9c2] {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.blog-card-inner[data-v-0cefc9c2] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem
}

.pattern[data-v-0cefc9c2] {
    position: absolute;
    top: 6rem;
    right: 0px;
    min-height: 100%;
    width: 16rem;
    overflow: hidden;
    background-image: url(/assets/pattern.bd19f50f.png);
    background-position: top;
    background-repeat: repeat-y
}

.blog-card[data-v-0cefc9c2] {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity));
    padding: 1.5rem;
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2.25rem
}

@media (min-width: 768px) {
    .blog-card[data-v-0cefc9c2] {
        flex-direction: row
    }
}

.blog-container[data-v-0cefc9c2] {
    display: flex;
    max-width: 56rem;
    flex-direction: column;
    gap: 3rem
}

.blog-card-title[data-v-0cefc9c2] {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600
}

.blog-date[data-v-0cefc9c2] {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-weight: 700
}

.blog-image[data-v-0cefc9c2] {
    height: 18rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (min-width: 768px) {
    .blog-image[data-v-0cefc9c2] {
        width: 50%
    }
}

.blog-card-button[data-v-0cefc9c2] {
    bottom: 1.5rem
}

@media (min-width: 768px) {
    .blog-card-button[data-v-0cefc9c2] {
        position: absolute
    }
}

.blog-container[data-v-38303aa4] {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem
}

@media (min-width: 1024px) {
    .blog-container[data-v-38303aa4] {
        flex-direction: row
    }
}

.blog-page[data-v-38303aa4] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity));
    padding: 1.5rem
}

.blog-latest-posts[data-v-38303aa4] {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    --tw-bg-opacity: 1;
    background-color: rgba(246, 241, 238, var(--tw-bg-opacity));
    padding: 1.5rem
}

.blog-container .blog-title[data-v-38303aa4] {
    line-height: 1.6!important;
    font-family: Berkshire Swash, cursive;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600
}

@media (min-width: 768px) {
    .blog-container .blog-title[data-v-38303aa4] {
        font-size: 3rem;
        line-height: 1
    }
}

.blog-content[data-v-38303aa4] {
    text-indent: 3em;
    text-align: justify
}

.blog-image[data-v-38303aa4] {
    width: 100%
}

.blog-date[data-v-38303aa4] {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-weight: 600
}

.breadcrumbs[data-v-38303aa4] {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    font-family: Kanit;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(44, 51, 67, var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .breadcrumbs[data-v-38303aa4] {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}

.latest-post-display[data-v-38303aa4] {
    margin-bottom: .75rem;
    font-family: Berkshire Swash, cursive;
    font-size: 2.25rem;
    line-height: 2.5rem
}

.latest-post-title[data-v-38303aa4] {
    font-family: Kanit;
    font-size: 1.125rem;
    line-height: 1.75rem
}

@media (min-width: 768px) {
    .latest-post-title[data-v-38303aa4] {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

.post-divider[data-v-38303aa4] {
    display: block;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(44, 51, 67, var(--tw-bg-opacity));
    height: 1px
}

@media screen and (max-width: 768px) {
    .blog-content[data-v-38303aa4] {
        text-indent: 1.2em;
        text-align: justify
    }
}